<!DOCTYPE html>
{% extends "orders/base.html" %}

<html>

{% block content %}
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"></link>

</head>
  <body>


    <a href = "http://127.0.0.1:8000/test">Back To menu</a>

    <div class="container">
      <script>var price = 0</script>
    <div class="row">
      {% for userorder in userorders %}
    <div class="col-md-4">
      <h3>{{userorder.type_of_food}}</h3>
      <p>{{userorder.Order.style}}</p>
      <p>{{userorder.Order.size}}</p>
      <p>$ {{userorder.Order.price}}</p>
      <script>
      price = price + parseFloat("{{userorder.Order.price}}")
      </script>
      <a href = "http://127.0.0.1:8000/getrid/{{ user.get_username }}/{{ userorder.id }}">Delete</a>
    </div>
    {% endfor %}

    <center id = "price">{{user.get_username}}'s Order Costs: $ </center>

  </div>
  <script>
  var str1 = "{{user.get_username}}"
  var str2 = "'s Order Costs: $ "
  var str3 = price.toString()
  document.getElementById("price").innerHTML = str1.concat(str2, str3);
  </script>

  </body>

{% endblock %}

</html>
