<!DOCTYPE html>
{% extends "orders/base.html" %}

<html>

{% block content %}
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"></link>

</head>
  <body>
    <a href = "http://127.0.0.1:8000/show_orders/{{ user.get_username }}">Show Orders</a>

    <div class="container">

    <div class="row">
      {% for food in foods %}

    <div class="col-md-4">
      <h3>{{food.type_of_food}}</h3>
      <p>{{food.style}}</p>
      <p>{{food.size}}</p>
      <p>$ {{food.price}}</p>
      <a href = "{{ user.get_username }}/{{food.id}}">ORDER</a>
    </div>
    {% endfor %}

    </div>

  </div>


  </body>

{% endblock %}

</html>
